/* General style of page */
body {
  background-color: #A3A380;
  font-family: "Bahnschrift light";
  color: #FFFBDD;
  margin: 0px;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NavBar */
nav {
  background-color: #7C7C63;
  margin: 10px 22px 2px 22px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Styling hyperlinks */
a {
  text-decoration: none;
  color: #FFFBDD;
  font-size: large;
  font-family: "bahnschrift";
}

/* Styling h1 */
h1 {
    font-family: "Impact";
    font-size: 10rem;
    font-weight: 500;
    margin: 250px 20px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

/* Styling introduction text */
#introduction {
    display: flex;
    justify-self: end;
    text-align: end;
    margin: -20px 24px 0px 0px;
    width: 750px;
    font-size: 0.95rem;
}

/* Styling h2 */
h2 {
  font-family: "impact";
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
}

/* Styling h3 */
h3 {
  font-family: "bahnschrift";
}

/* Education box */
#education {
    background-color: #6A6A55;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 15px 22px 0px 22px;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
    text-align: center;
}

/* Display studies in a row */
#studies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Individual styling studies */
.study {
  width: 25%;
  padding: 0px 0px 20px 0px;
}

/* Adjusts margins of studies text */
.study h3,
.study p {
  margin: 3px;
}

/* Sets institutions of studies italic */
.location {
  font-style: italic;
}

/* Styling image diploma */
.diploma {
  width: 27px;
  vertical-align: middle;
}

/* Styles hard and soft skills boxes next to each other */
#skills {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 22px;
  gap: 10px;
  width: 75%;
}

/* Styles hard skills and soft skills boxes */
.allSkills {
  background-color: #7C7C63;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

/* Sets margins soft and hard skills text */
.allSkills h2, .allSkills p {
  margin: 3px;
}

/* Styles languages box */
#languages {
  background-color: #6A6A55;
  width: 75%;
  margin: 30px 22px 0px 22px;
  padding: 10px;
  border-radius: 10px;
}

/* Styling table */
table {
  width: 75%;
  height: 100px;
  margin: 3px 0px 0px 22px;
  align-items: center;
  text-align: center;
}

/* Width table columns */
col {
  width: 50%;
}

/* Styling table rows */
tr {
  border-bottom: 3px solid #A3A380;
  background-color: #7C7C63;
}

/* Styling table cells */
td {
  border-radius: 10px;
}

/* Styling difference rows */
tr:nth-child(even) {
  background-color: #6A6A55;
}

/* Styling workExperience box */
#workExperience {
  background-color: #7C7C63;
  width: 75%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px 22px 0px auto;
  padding: 10px;
}

#workExperience h2, h3, p {
  margin: 3px;
}

/* Styling workExperience list */
#workExperience ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Styling workExperience list items */
#workExperience li  {
  background-color: #6A6A55;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  width: 49%;
}

/* Styling work experience h3 */
#workExperience h3 {
  font-weight: bold;
}

#workExperience span {
  display: none;
}

#workExperience:hover span {
  display: block;
}

/* Footer */
footer {
  background-color: #6A6A55;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
}