/* General style of page */
body {
  background-color: #A3A380;
  font-family: "Bahnschrift light";
  color: #FFFBDD;
  margin: 0px;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Correct box calculations + smooth scrolling */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NavBar */
nav {
  background-color: #7C7C63;
  margin: 10px 22px 2px 22px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Styling hyperlinks */
a {
  text-decoration: none;
  color: #FFFBDD;
  font-size: large;
  font-family: "bahnschrift";
}

/* Styling header */
header {
  background-image: url(../images/Foto.png);
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
          mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 70px;
}

/* Hover styling header */
header:hover {
  text-shadow: 1px 1px #001007;
}

/* Styling h1 */
h1 {
  font-family: "Impact";
  font-size: 10vw;
  font-weight: 500;
  margin: 0px 20px 0px 0px;
}

/* Styling introduction text */
header p {
  text-align: end;
  margin: -15px 24px 0px 0px;
  width: 50vw;
  font-size: 0.95vw;
}

/* Styling h2 */
h2 {
  font-family: "impact";
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
}

/* Styling h3 */
h3 {
  font-family: "bahnschrift";
}

/* Education box */
#education {
  background-color: #6A6A55;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 15px 22px 0px 22px;
  padding: 0px 0px 10px 0px;
  border-radius: 10px;
  text-align: center;
}

/* Display studies in a row */
#studies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Individual styling studies */
.study {
  padding: 0px 0px 20px 0px;
}

/* Adjusts margins of studies text */
.study h3,
.study p {
  margin: 3px;
}

/* Sets institutions of studies italic */
.location {
  font-style: italic;
}

/* Styling image diploma */
.diploma {
  width: 27px;
  vertical-align: middle;
}

/* Styles hard and soft skills boxes next to each other */
#skills {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 22px;
  gap: 10px;
  width: 75%;
}

/* Styles hard skills and soft skills boxes */
.allSkills {
  background-color: #7C7C63;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

/* Sets margins soft and hard skills text */
.allSkills h2, .allSkills p {
  margin: 3px;
}

/* Styles languages box */
#languages {
  background-color: #6A6A55;
  width: 75%;
  margin: 30px 22px 0px 22px;
  padding: 10px;
  border-radius: 10px;
}

/* Hide mobile version of languages box */
#languagesMobile {
  display: none;
}

/* Styling table */
table {
  width: 75%;
  height: 100px;
  margin: 3px 0px 0px 22px;
  align-items: center;
  text-align: center;
}

/* Width table columns */
col {
  width: 50%;
}

/* Styling table rows */
tr {
  border-bottom: 3px solid #A3A380;
  background-color: #7C7C63;
}

/* Styling table cells */
td {
  border-radius: 10px;
}

/* Styling difference rows */
tr:nth-child(even) {
  background-color: #6A6A55;
}

/* Styling workExperience box */
#workExperience {
  background-color: #7C7C63;
  width: 75%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px 22px 0px auto;
  padding: 10px;
}

/* Margin text in work experience box */
#workExperience h2, h3, p {
  margin: 3px;
}

/* Styling workExperience list */
#workExperience ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Styling workExperience list items */
#workExperience li  {
  background-color: #6A6A55;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  width: calc(50% - 10px);
}

/* Style workExperience full width */
#workExperience li.fullWidth {
  width: 100%;
}

/* Hide element */
.hidden {
  display: none;
}

/* Styling work experience h3 */
#workExperience h3 {
  font-weight: bold;
}

/* Hide task package by default */
#workExperience li .taskPackage {
  display: none;
}

/* Show task package on hover */
#workExperience li:hover .taskPackage {
  display: inline;
}

/* Footer */
footer {
  background-color: #6A6A55;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

/* Styling link footer */
footer a {
  font-weight: 100;
  font-family: "Bahnschrift light";
  font-size: medium;
}

/* Mobile */
@media (max-width: 575.99px) {
  /* Styling hyperlinks */
  a {
    font-size: medium;
  }

  /* Styling header */
  header {
    align-items: center;
    justify-content: start;
    padding-bottom: 0px;
    padding-top: 30px;
  }

  /* Styling h1 */
  h1 {
    font-size: 15vw;
    margin: 0px;
  }

  /* Styling introduction text */
  header p {
    display: none;
  }

  /* Styling h2 */
  h2 {
    font-size: x-large;
  }

  /* Education box */
  #education {
    width: calc(100% - 44px);
  }

  /* Styles hard and soft skills boxes next to each other */
  #skills {
    margin-top: 15px;
    width: calc(100% - 44px);
    gap: 5px;
  }

  /* Styles hard skills and soft skills boxes */
  .allSkills {
    text-align: center;
  }

  /* Styles languages box */
  #languages {
    width: calc(100% - 44px);
    margin: 15px 22px 0px 22px;
  }

  /* Hide table in mobile */
  table {
    display: none;
  }

  /* Alternative styling language */
  #languagesMobile {
    background-color: #6A6A55;
    padding: 10px;
    border-radius: 10px;
    display: block;
    width: calc(100% - 44px);
    margin: 5px 22px 0px 22px;
  }

  /* Styling foreach language */
  .language {
    display: flex;
    justify-content: space-evenly;
  }

  /* Same width first and third part */
  .firstPart, .thirdPart {
    width: 40%;
  }

  /* Styling second part */
  .secondPart {
    width: 10%;
    text-align: center;
  }

  /* Styling third part */
  .thirdPart {
    text-align: right;
  }

  /* Styling workExperience box */
  #workExperience {
    width: calc(100% - 44px);
    margin: 15px 22px 0px auto;
  }

  /* Styling workExperience list items */
  #workExperience li  {
    width: 100%;
  }
}

/* Tablet */
@media (min-width: 576px) and (max-width: 991.99px) {
  /* Styling introduction text */
  header p {
    margin: -10px 22px 0px 0px;
    width: 60vw;
    font-size: 1.5vw;
  }
}

/* Mobile and Tablet */
@media (max-width: 991.99px) {
  /* Styling header */
  header {
    background-position: left center;
    height: 50vh;
  }

  /* Styling individual studies */
  .study {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  /* Styling header */
  header {
    height: 77vh;
    background-position: bottom;
  }

  /* Styling individual studies */
  .study {
    width: 25%;
  }
}